<?xml version="1.0"?>
<robot name="origins">

   <link name="world"/>
   
   <joint name="joint_1" type="fixed">
    <parent link="world"/>
    <child link="link_1"/>
    <origin rpy="0  0  0" xyz="0 0 0"/>
    <axis xyz="0  0  1"/>
    <limit effort="-1.0" lower="-1.79769e+308" upper="1.79769e+308" velocity="-1.0"/>
  </joint>
   
   <link name="link_1">
    <inertial>
      <mass value="1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.145833" ixy="0" ixz="0" iyy="0.145833" iyz="0" izz="0.125"/>
    </inertial>
    <collision name="Better_Robot_Arm__collision">
      <origin rpy="0  0  0" xyz="0 0 2.5"/>
      <geometry>
        <cylinder length="5" radius="0.5"/>
      </geometry>
    </collision>
    <visual name="Better_Robot_Arm__visual">
      <origin rpy="0  0  0" xyz="0 0 2.5"/>
      <geometry>
        <cylinder length="5" radius="0.3"/>
      </geometry>
    </visual>
  </link>
</robot>