<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find rbe_proj)/urdf/SCARA.urdf -urdf -z 0 -model SCARA" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find rbe_proj)/urdf/SCARA.urdf" />
</launch>
